# Arquivos com senhas #
#######################
db.php
config.php

# Imagens #
###########
assets/images/clinica-oftorrino-icone.png
assets/images/clinica-oftorrino-logo.png


# Arquivos de trabalho #
########################
consultas-SQL.txt
TODO.md
icones.html
dev-notes.md

# Arquivos de backup #
######################
**/*~

# Arquivos editores texto #
###########################
nbproject
.~lock.*
.buildpath
.idea
.project
.settings
*.sublime-workspace

# Arquivos de sistemas operacionais #
#####################################
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
desktop.ini