footer {
	height: 40px; /* altura footer */
	line-height: 60px; /* altura footer */
}

/* Calendário mensal: esconder domingo e sábado
-------------------------------------------------- */
#calendario_completo th:first-child,
#calendario_completo td:first-child,
#calendario_completo th:last-child,
#calendario_completo td:last-child {
	display: none; 
}

label {
	font-weight: bold;
}

a {
	color: #D56100;
}