footer.sticky-footer {
	position: relative;
}

label {
	font-weight: bold;
}

a {
	color: #D56100;
}

/* Calendário mensal: esconder domingo e sábado
-------------------------------------------------- */
#calendario_completo th:first-child,
#calendario_completo td:first-child,
#calendario_completo th:last-child,
#calendario_completo td:last-child {
	display: none; 
}

#calendario_completo td {
	width: 20%;
}

